
body {
  background-color: rgb(22, 22, 22);
     font-family: 'Poppins', sans-serif;
      overflow-x: hidden;
}

h1{
text-shadow: 0px 2px 0px yellowgreen, 0px -5px 5px rebeccapurple;
font-size: 54px;
position: absolute; top:33px;

}
button{
    color: goldenrod;
    background-color: yellow;
    border: 2px solid brown;
    margin: 10px;
    padding: 10px;
    width: 60px;
    height: 30px;
}
.centered-div{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.topsection{
    display: flex;
    justify-content: space-between;
}